html{
   background-color: #000;
}
.background{
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}
.background-containt{
   background-position: center center;
   background-repeat: no-repeat;
   background-size: contain;
}
.almost-fullscreen{
   position: relative;
   height: 90vh;
}
.fullscreen{
   position: relative;
   height: 100vh;
}
.btn-start{
   left: 95%;
   transform: translateX(-50%);
   position: absolute;
   z-index: 1;
}
.material-icons.md-48{
   font-size: 48px;
}
